<div class="center jumbotron">
  <h1>Nick Hunter</h1>

  <h2>The personal site for Nick Hunter's random musings.</h2>
</div>
<header class="navbar navbar-inverse">
	<div class="container">
		<%= link_to "nickhunter.io", root_path, id: "logo" %>
		<nav>
			<ul class="nav navbar-nav navbar-right">
				<li><%= link_to "Home", root_path %></li>	
				<li><%= link_to "About", about_path %></li>
				<li><%= link_to "Blog", blog_path %></li>
				<li><%= link_to "Projects", projects_path %></li>
				<li><%= link_to "Contact", contact_path %></li>
			</ul>
		</nav>
	</div>
</header>